* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.span-ratting-color {
    color: rgb(94, 99, 102);
    font-size: 14px;
    font-weight: 700;
}

:root {
    --header-color: rgb(58, 58, 58);
    --ratting-color: rgb(251, 130, 0);
    --discription-color: rgb(120, 120, 133);
    --price-color: rgba(0, 0, 0, 0.87);
}

.primary-bnt {
    border-radius: 41px;
    background-color: rgb(224, 44, 109);
    padding: 10px 24px 10px 24px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: 0;
}


header {
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
    padding: 2rem 4rem 4rem 4rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;

}

nav>ul {
    display: flex;
}

ul li,
a {
    list-style: none;
    text-decoration: none;
    color: var(--header-color);
    padding-right: 2rem;
}

nav h3 {
    color: var(--header-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

/*-------- banner section start --------------*/

.banner {
    display: flex;
    align-items: center;
    gap: 8rem;
}



.banner-title h1 {
    color: var(--header-color);
    font-size: 4.4rem;
    font-weight: 700;
}

.banner-title p {
    color: var(--header-color);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.banner-img {
    background-image: url("../images/Circle\ design.svg");
}

.banner-img img {
    width: 100%;
    height: 100%;
}


/* ----------  banner section end  ----------- */

/* ----------  online-shope-collection section start  ----------- */

.online-shope-section {
    padding: 4rem;
}

.online-shope-header {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--header-color);
    font-size: 28px;
    font-weight: 600;
}

.online-shope-logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 3rem 3.8rem;
}

.online-shope-logo img {
    padding: 0 1.8rem;
}

.ratting-icone {
    color: var(--ratting-color);
    padding: 5px 0px;
}

.online-shope-collection-container {
    padding: 1rem;
    width: 18rem;
    height: 26.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
}

.online-shope-collection-details h3 {
    color: var(--header-color);
    padding: 5px 0px;
    font-size: 28px;
    font-weight: 500;
}

.online-shope-price {
    padding-bottom: 5px;
    color: var(--price-color);
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
}

.online-shope-price-discription {
    color: rgb(120, 120, 133);
    font-family: "Inter";
    padding-bottom: 1rem;
    font-size: 14px;
    font-weight: 700;
}

.online-shope-collection-container img {

    border-radius: 5px;
    width: 18rem;
    height: 16rem;
}

.online-shope-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 1rem auto;
    /* align-items: center; */
    /* justify-content: center; */
}

/* -----------   responsive   --------  */
/* ************************************* */
/* -----------  small device    ------------- */

@media screen and (max-width:576px) {

    nav,
    nav>ul {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

    ul li,
    a {
        padding-top: 10px;
        color: var(--header-color);
        text-decoration: none;
    }

    .banner-title {
        text-align: center;
    }

    .banner-title h1 {
        font-size: 2rem;
    }

    .online-shope-logo {
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 0.5rem;
    }

    .online-shope-logo img {
        padding: 0.5rem;
    }
}

/* -----------  media device    ------------- */

@media screen and (min-width:577px) and (max-width:950px) {

    ul li,
    a {

        padding-right: 0.7rem;
    }

    header {
        padding: 2rem 2rem
    }

    .banner-title h1 {
        font-size: 2.2rem;
    }

    .online-shope-logo {
        grid-template-columns: repeat(4, 1fr);
    }

    .online-shope-logo img {
        padding: 0.8rem 1rem;
    }
}